<html>

<head>
  <title>Gallery | Brendan Beck</title>

  <%- include ('../partials/includes.ejs') %>

    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/gallery.css" />
    <link rel="stylesheet" type="text/css" href="css/ekko-lightbox.css" />
</head>

<body>
  <%- include ('../partials/navbar.ejs') %>
  <%- include ('../partials/icon-sidebars.ejs') %>

    <section id="gallery" class="gallery section">
      <div class="centered-container">
        <div class="portfolio-wrapper">
          <div class="intro">
            <h2 class="title">
              <span class="gsap-reveal">Gallery</span>
            </h2>
            <a href="#" class="js-filter hidden-md hidden-lg">
              <span class="gsap-reveal">Filter</span>
            </a>

            <div class="filter-wrap">
              <div class="filter gsap-reveal" id="filters">
                <a href="#" class="active" data-filter="*">All</a>
                <a href="#" data-filter=".graphic">GRAPHIC</a>
                <a href="#" data-filter=".wallpaper">WALLPAPER</a>
                <a href="#" data-filter=".photoshop">PHOTOSHOP</a>
                <a href="#" data-filter=".illustrator">ILLUSTRATOR</a>
              </div>
            </div>
          </div>

          <div id="posts" class="row">

            <!-- buisness cards -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/business_card_mockup.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Business Cards</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/business_card_mockup.jpg" class="lazyload img-fluid" alt="Images " />
              </a>
            </div>

            <!-- linked in bannner -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/linkedin_banner.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Linkedin Banner</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/linkedin_banner.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- birds arent real -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/birds-arent-real.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Birds aren't real poster</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/birds-arent-real.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- utopia merch -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/utopiamerch.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Utopia Merch</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/utopiamerch.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- skellyflowers -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/skellyflowers.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Grunge Skeleton Graphic</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/skellyflowers.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- mac miller graphic -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/macmiller_graphic.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Mac Miller Graphic</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/macmiller_graphic.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- text revlove graphic -->
            <div class="item photoshop wallpaper col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/text-revolve-instastory.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Text Relove Statue Wallpaper</h3>
                    <p>Photoshop, Wallpaper</p>
                  </div>
                </div>
                <img src="img/gallery/text-revolve-instastory.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- tyler golf graphic -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/tylergolf.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Tyler the Creator Poster</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/tylergolf.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- bunker favorite part graphic -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/bunkerprint-smaller.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>My Favorite Part Poster</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/bunkerprint-smaller.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- watch your back graphic -->
            <div class="item photoshop graphic col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/watchyourback.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Watch Your Back Poster</h3>
                    <p>Photoshop, Graphic</p>
                  </div>
                </div>
                <img src="img/gallery/watchyourback.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- joker glitch -->
            <div class="item photoshop col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/joker_glitch.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Glitched Joker</h3>
                    <p>Photoshop</p>
                  </div>
                </div>
                <img src="img/gallery/joker_glitch.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>

            <!-- cutup statue -->
            <div class="item photoshop wallpaper col-sm-6 col-md-6 col-lg-4">
              <a href="img/gallery/cutup_statue.jpg" class="portfolio-item gsap-reveal-img" data-toggle="lightbox" data-gallery="gallery">
                <div class="overlay">
                  <span class="wrap-icon icon-photo2"></span>
                  <div class="portfolio-item-content">
                    <h3>Cutup Statue</h3>
                    <p>Photoshop, Wallpaper</p>
                  </div>
                </div>
                <img src="img/gallery/cutup_statue.jpg" class="lazyload img-fluid" alt="Images" />
              </a>
            </div>


          </div>
        </div>
      </div>
    </section>

    <%- include ('../partials/footer.ejs') %>
      <%- include ('../partials/includesjs.ejs') %>

        <!-- Loader -->
        <div id="site-loader-overlayer"></div>
        <div class="site-loader-wrap">
          <div class="site-loader"></div>
        </div>

        <script src="js/gallery-scripts-dist.js"></script>
        <script src="js/gallery.js"></script>
        <script src="js/ekko-lightbox.js"></script>

</body>
</html>
